import { defineConfig } from 'sanity'
import { visionTool } from '@sanity/vision'
import { structureTool } from "sanity/structure"
import { schema } from './sanity/schema'

export default defineConfig({
  name: 'default',
  title: 'Portfolio CMS',
  
  projectId: process.env.NEXT_PUBLIC_SANITY_PROJECT_ID || '',
  dataset: process.env.NEXT_PUBLIC_SANITY_DATASET || 'production',
  
  plugins: [structureTool(), visionTool()],
  
  schema,
  
  basePath: '/studio',
})

